body{
    background-color: lightgreen;
    font-family: Arial;
    margin: 0;
}

header{
    margin: 0 auto 20px;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.425);
    color: white;
    border: 1px solid green;
    padding: 2px;
    font-weight: bolder;
    box-shadow: 4px 4px 4px green;
    h1{
        text-shadow: 4px 4px 4px green;
        line-height: 24px;
    }
}

nav ul li{
    list-style: none;
    display: inline-flex;
}

nav ul li a{
    margin: 2px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(3, 53, 3);
    background-color: rgba(98, 185, 98, 0.842);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid white;
    box-shadow: 0.5px 0.5px 0.5px white;
    border-radius: 5px;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(3, 53, 3);
    background-color: rgb(38, 131, 38);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: underline;
    box-shadow: 1px 1px 1px white;
}

section{
    background-color: rgba(65, 192, 65, 0.404);
    border: 0.5px solid green;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto 20px;
    width: 80%;
    font-size: 18px;
    color: rgb(3, 53, 3);
    box-shadow: 4px 4px 4px green;
     
}

h2{
        font-size: 25px;
        color: rgb(16, 48, 22);
        text-decoration: underline;
    }

#projects{
    h3{
        font-size: 20px;
        color: rgb(16, 48, 22);
        margin-bottom: 5px;
    }
}

#about{
    h3{
        font-size: 18px;
        color: rgb(16, 48, 22);
    }
}

img, video{
    width: 30%;
    display:inline;
    margin: 5px auto;
    margin-bottom: 0px;
    border-radius: 8px;
    border: 2px solid white;
}

audio{
    width: 30%;
    display:inline-flex;
    margin-top: -5px;
    margin-bottom: 0px;
}

a{
  color: rgb(3, 53, 3);
  text-decoration: none;
}

a:hover{
  color: rgba(10, 131, 10, 0.596);
  text-decoration: underline;
}

footer{
    position: fixed;
    width: 100%;
    color: white;
    font-weight: lighter;
    bottom: 0;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.425);
    padding: 1px;
}

@media (max-width: 600px){
    nav ul li{
        display: block-flex;
        padding: 1px;
        margin: 1px;
    }

    video, img{
        display: flex;
        width: 100%;
        height: auto;
    }

    audio{
        display: flex;
        width: 100%;
    }
}